<section id="location_bg" ng-cloak>
    <div class="container">
        <div class="row header">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="#/" class="logo_wrapper"><img src="images/Logo.png" class="img-responsive logo"/></a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" >
                <ul class="header_menu navbar-right" ng-if="isLogin">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Welcome<b> {{currentUser.firstName}}</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-left">
                            <li ng-click="openMyProfile()">
                                <a >My Profile</a>                        
                            </li>
                            <li ng-click="openChangePwd()">
                                <a>Change password</a>                        
                            </li>
                            <li ng-click="openUpdateMenu()" ng-if="currentUser.role === 'ROLE_SERVICEPROVIDER'">
                                <a>Update Menu</a>                        
                            </li>
                            <li ng-click="logout()">
                                <a >Logout</a>                        
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="header_menu navbar-right" ng-if="!isLogin">
                    <li>
                        <a class="btn btn-link" style="color: white" data-toggle="modal" data-target="#myModal">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <form class="form-horizontal" name="searchForm" role="form">
            <div class="row search_bar">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="search_area">
                        <span class="map"><i class="fa fa-map-marker" style="position: absolute"></i></span>
                        <input type="text" style="margin-left: 3px; cursor: text" class="discover-search" g-places-autocomplete required placeholder="Choose place" ng-model="$root.chosenPlace"/>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="search_area">
                        <span><i class="fa fa-search" style="position:absolute;"></i></span>
                        <input text="input" style="margin-left: 20px; cursor: text" class="discover-search" placeholder="Search for restaurant, cuisine or a dish" ng-model="$root.searchquery" value=""/>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <button class="search_button" ng-click="$root.search(searchForm)">Search</button>
                </div>
            </div>
        </form>

    </div>
</section>

<section id="location_details">
    <div class="container">
        <div class="alert" ng-class="{'alert-success': responseCode === 0, 'alert-danger': responseCode === 1}" ng-show="showSuccessAlert">
            <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
            <strong ng-if="responseCode === 0">Done!</strong><strong ng-if="responseCode === 1">Error!</strong> {{successTextAlert}}
        </div>
        <div class="col-md-4 col-md-offset-4 col-xs-8 col-sm-12">
            <legend>Change Password</legend>
            <form name="changePasswordForm" novalidate>
                <div class="form-group" ng-class="{ 'has-error': (changePasswordForm.oldPasswd.$touched || submitted === true) && changePasswordForm.oldPasswd.$invalid }">
                    <input type="Password" id="oldPasswd" class="input-xlarge form-control" name="oldPasswd" ng-model="oldPassword" placeholder="Old Password" required>
                    <div class="help-block" ng-messages="changePasswordForm.oldPasswd.$error" ng-show="changePasswordForm.oldPasswd.$touched || submitted === true">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (changePasswordForm.passwd.$touched || submitted === true) && changePasswordForm.passwd.$invalid }">
                    <input type="Password" id="passwd" class="input-xlarge form-control" name="passwd" ng-model="newPassword" placeholder="New Password" required>
                    <div class="help-block" ng-messages="changePasswordForm.passwd.$error" ng-show="changePasswordForm.passwd.$touched || submitted === true">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (changePasswordForm.conpasswd.$touched || submitted === true) && changePasswordForm.conpasswd.$invalid }">
                    <input type="Password" id="conpasswd" class="input-xlarge form-control" name="conpasswd" ng-model="repassword" placeholder="Confirm new Password" compare-to="newPassword" required>
                    <div class="help-block" ng-messages="changePasswordForm.conpasswd.$error" ng-show="changePasswordForm.conpasswd.$touched || submitted === true">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="compareTo">This field should match with password</div>
                    </div>
                </div>
                <button class="btn btn-success pull-right" ng-click="setNewPassword(changePasswordForm)">Save</button>
        </div>
        </form>
    </div>
</section>