<section id="location_bg" ng-cloak>
    <div class="container">
        <div class="row header">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="#/" class="logo_wrapper"><img src="images/Logo.png" class="img-responsive logo"/></a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" >
                <ul class="header_menu navbar-right" ng-if="isLogin">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Welcome<b> {{currentUser.firstName}}</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-left">
                            <li ng-click="openMyProfile()">
                                <a >My Profile</a>                        
                            </li>
                            <li ng-click="openChangePwd()">
                                <a>Change password</a>                        
                            </li>
                            <li ng-click="openUpdateMenu()" ng-if="currentUser.role === 'ROLE_SERVICEPROVIDER'">
                                <a>Update Menu</a>                        
                            </li>
                            <li ng-click="logout()">
                                <a >Logout</a>                        
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="header_menu navbar-right" ng-if="!isLogin">
                    <li>
                        <a class="btn btn-link" style="color: white" data-toggle="modal" data-target="#myModal">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <form class="form-horizontal" name="searchForm" role="form">
            <div class="row search_bar">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="search_area">
                        <span class="map"><i class="fa fa-map-marker" style="position: absolute"></i></span>
                        <input type="text" style="margin-left: 3px; cursor: text" class="discover-search" g-places-autocomplete required placeholder="Choose place" ng-model="$root.chosenPlace"/>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="search_area">
                        <span><i class="fa fa-search" style="position:absolute;"></i></span>
                        <input text="input" style="margin-left: 20px; cursor: text" class="discover-search" placeholder="Search for restaurant, cuisine or a dish" ng-model="$root.searchquery" value=""/>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <button class="search_button" ng-click="$root.search(searchForm)">Search</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section id="location_details">
    <div class="container">
        <div class="alert alert-success" ng-show="showSuccessAlert">
            <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
            <strong>Done!</strong> {{successTextAlert}}
        </div>
        <form id="contactusForm" name="contactusForm" class="form-horizontal" novalidate>
            <div class=" row col-md-4 col-md-offset-4">
                            <legend>Contact Us</legend>
                <div class="form-group" ng-class="{ 'has-error': (contactusForm.name.$touched || submitted === true) && contactusForm.name.$invalid }">
                    <input type="text" class="input-xlarge form-control" id="name" name="name" ng-model="contactus.name" placeholder="Name" required>
                    <div class="help-block" ng-messages="contactusForm.name.$error" ng-show="(contactusForm.name.$touched || submitted === true) && contactusForm.name.$inva">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (contactusForm.email.$touched || submitted === true) && contactusForm.email.$invalid }">
                    <input type="email" class="input-xlarge form-control" id="email" name="email" ng-model="contactus.email" placeholder="Email" required>
                    <div class="help-block" ng-messages="contactusForm.email.$error" ng-show="(contactusForm.email.$touched || submitted === true) && contactusForm.email.$invalid">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="email">Enter valid email</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (contactusForm.message.$touched || submitted === true) && contactusForm.message.$invalid }">
                    <textarea rows="5" cols="10" id="message" class="input-xlarge form-control" name="message" ng-model="contactus.message" placeholder="Message" required>
                    </textarea>
                    <div class="help-block" ng-messages="contactusForm.message.$error" ng-show="(contactusForm.message.$touched || submitted === true) && contactusForm.message.$invalid">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <button type="button" class="btn btn-success pull-right" ng-click="contactUs()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>
