<section id="header_bg" ng-cloak>
    <div class="container">
        <div clas="row header">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="#/" class="logo_wrapper"><img src="images/Logo.png" class="img-responsive logo"/></a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" >
                <ul class="header_menu navbar-right" ng-if="isLogin">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Welcome<b> {{currentUser.firstName}}</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-left">
                            <li ng-click="openMyProfile()">
                                <a >My Profile</a>                        
                            </li>
                            <li ng-click="openChangePwd()">
                                <a>Change password</a>                        
                            </li>
                            <li ng-click="openUpdateMenu()" ng-if="currentUser.role === 'ROLE_SERVICEPROVIDER'">
                                <a>Update Menu</a>                        
                            </li>
                            <li ng-click="logout()">
                                <a >Logout</a>                        
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="header_menu navbar-right" ng-if="!isLogin">
                    <li>
                        <a class="btn btn-link" style="color: white" data-toggle="modal" data-target="#myModal">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--        <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 slogan text-center">
                        <p>Lorem ipsum dolor sit amet,</p>
                        <p class="slogan2">consectetur adipiscing elit.</p>
                    </div>
                </div>-->
    </div>
</section>

<section id="location_details">
    <div class="container">
        <div class="alert" ng-class="{'alert-success': responseCode === 0, 'alert-danger': responseCode === 1}" ng-show="showSuccessAlert">
            <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
            <strong ng-if="responseCode === 0">Done!</strong><strong ng-if="responseCode === 1">Error!</strong> {{successTextAlert}}
        </div>
        <form name="forgotPasswordForm" ng-if="isValidateEmailToken === true">
            <div class="form-group" ng-class="{ 'has-error': (forgotPasswordForm.passwd.$touched || submitted === true) && forgotPasswordForm.passwd.$invalid }">
                <label class="control-label" for="passwd">Password</label>
                <input type="Password" id="passwd" class="input-xlarge form-control" name="passwd" ng-model="newPassword" placeholder="Password" required>
                <div class="help-block" ng-messages="forgotPasswordForm.passwd.$error" ng-show="forgotPasswordForm.passwd.$touched || submitted === true">
                    <div ng-message="required">This field is required</div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (forgotPasswordForm.conpasswd.$touched || submitted === true) && forgotPasswordForm.conpasswd.$invalid }">
                <label class="control-label" for="conpasswd">Confirm Password</label>
                <input type="Password" id="conpasswd" class="input-xlarge form-control" name="conpasswd" ng-model="repassword" placeholder="Re-enter Password" compare-to="newPassword" required>
                <div class="help-block" ng-messages="forgotPasswordForm.conpasswd.$error" ng-show="forgotPasswordForm.conpasswd.$touched || submitted === true">
                    <div ng-message="required">This field is required</div>
                    <div ng-message="compareTo">This field should match with password</div>
                </div>
            </div>
            <button class="btn btn-success" ng-click="setNewPassword(forgotPasswordForm, newPassword, repassword)">Ok</button>

        </form>
    </div>
</section>