<section id="header_bg" ng-cloak>
    <div class="container">
        <div class="row header">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="#/" class="logo_wrapper"><img src="images/Logo.png" class="img-responsive logo"/></a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" >
                <ul class="header_menu navbar-right" ng-if="isLogin">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Welcome<b> {{currentUser.firstName}}</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-left">
                            <li ng-click="openMyProfile()">
                                <a >My Profile</a>                        
                            </li>
                            <li ng-click="openChangePwd()">
                                <a>Change password</a>                        
                            </li>
                            <li ng-click="openUpdateMenu()" ng-if="currentUser.role === 'ROLE_SERVICEPROVIDER'">
                                <a>Update Menu</a>                        
                            </li>
                            <li ng-click="logout()">
                                <a>Logout</a>                        
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="header_menu navbar-right" ng-if="!isLogin">
                    <li>
                        <a class="btn btn-link" style="color: white" data-toggle="modal" data-target="#myModal">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 slogan text-center">
                <p>Lorem ipsum dolor sit amet,</p>
                <p class="slogan2">consectetur adipiscing elit.</p>
            </div>
        </div>
        <form class="form-horizontal" name="searchForm" role="form">
            <div class="row search_bar">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="search_area">
                        <span class="map"><i class="fa fa-map-marker" style="position: absolute"></i></span>
                        <!--<input text="input" class="discover-search" ng-model="$root.chosenPlace" required details="$root.chosenPlaceDetails" googleplace/>-->    
                        <input style="margin-left: 3px; cursor: text" type="text" class="discover-search" g-places-autocomplete required placeholder="Choose place" ng-model="$root.chosenPlace"/>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="search_area">
                        <span><i class="fa fa-search" style="position:absolute;"></i></span>
                        <input text="input" style="margin-left: 20px; cursor: text" class="discover-search" placeholder="Search for tiffin service or any item" ng-model="$root.searchquery" value=""/>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <button class="search_button" ng-click="$root.search(searchForm)">Search</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section id="middle">
    <div class="container">
        <div class="col-md-4 col-sm-4 col-xs-12 text-center ">

            <h1 class="blue">572</h1>

            <p>All trademarks are Properties</p>

        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 text-center ">

            <h1 class="yellow">572</h1>

            <p>All trademarks are Properties</p>

        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 text-center ">

            <h1 class="blue">572</h1>

            <p>All trademarks are Properties</p>

        </div>
    </div>
</section>