<div class="container">
    <div>
        <form id="itemoptionForm" name="itemoptionForm" class="form-horizontal" novalidate>
            <legend>Item Option</legend>
            <div class=" row col-md-4">
                <div class="form-group" ng-class="{ 'has-error': (itemoptionForm.itemtype.$touched || submitted === true) && itemoptionForm.itemtype.$invalid }">
                    <label class="control-label" for="itemtype">Item Type</label>
                    <select name="itemtype" id="itemtype" class="input-xlarge form-control" ng-model="itemoption.type.name" required ng-options="item.name as item.name for item in itemTypes">
                        <option value="">--Select--</option>
                    </select>
                    <div class="help-block" ng-messages="itemoptionForm.itemtype.$error" ng-show="itemoptionForm.itemtype.$touched || submitted === true">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (itemoptionForm.name.$touched || submitted === true) && itemoptionForm.name.$invalid }">
                    <label class="control-label" for="name">Name</label>
                    <input type="text" class="input-xlarge form-control" id="name" name="name" ng-model="itemoption.name" placeholder="Name" required>
                    <div class="help-block" ng-messages="itemoptionForm.name.$error" ng-show="itemoptionForm.name.$touched || submitted === true">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"></label>
                    <button type="button" class="btn btn-success" ng-click="createItemOption()">Create Item Option</button>
                </div>
            </div>
        </form>
    </div>
</div>