<section id="location_bg" ng-cloak>
    <div class="container">
        <div class="row header">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="#/" class="logo_wrapper"><img src="images/Logo.png" class="img-responsive logo"/></a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" >
                <ul class="header_menu navbar-right" ng-if="isLogin">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Welcome<b> {{currentUser.firstName}}</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-left">
                            <li ng-click="openMyProfile()">
                                <a >My Profile</a>                        
                            </li>
                            <li ng-click="openChangePwd()">
                                <a>Change password</a>                        
                            </li>
                            <li ng-click="openUpdateMenu()" ng-if="currentUser.role === 'ROLE_SERVICEPROVIDER'">
                                <a>Update Menu</a>                        
                            </li>
                            <li ng-click="logout()">
                                <a>Logout</a>                        
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="header_menu navbar-right" ng-if="!isLogin">
                    <li>
                        <a class="btn btn-link" style="color: white" data-toggle="modal" data-target="#myModal">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--        <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 slogan text-center">
                        <p>Lorem ipsum dolor sit amet,</p>
                        <p class="slogan2">consectetur adipiscing elit.</p>
                    </div>
                </div>-->
        <form class="form-horizontal" name="searchForm" role="form">
            <div class="row search_bar">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="search_area">
                        <span class="map"><i class="fa fa-map-marker" style="position: absolute"></i></span>
                        <input type="text" style="margin-left: 3px; cursor: text" class="discover-search" g-places-autocomplete required placeholder="Choose place" ng-model="$root.chosenPlace"/>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="search_area">
                        <span><i class="fa fa-search" style="position:absolute;"></i></span>
                        <input text="input" style="margin-left: 20px; cursor: text" class="discover-search" placeholder="Search for restaurant, cuisine or a dish" ng-model="$root.searchquery" value=""/>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <button class="search_button" ng-click="$root.search(searchForm)">Search</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section id="location_details">
    <div class="container">

        <div class="row">

            <div class="col-md-3 col-sm-3 col-xs-12 location_left">

                <h3>Filter Options</h3>

                <h4>Meal</h4>

                <form role="form">

                    <div class="checkbox">

                        <label><input name="meal[]" id="breakfast"  ng-click="toggleSelection('b')" ng-checked="searchObj.mealSelected.indexOf('b') > -1" type="checkbox" value="b">Breakfast</label>

                    </div>

                    <div class="checkbox">

                        <label><input name="meal[]" id="dinner" ng-click="toggleSelection('d')" ng-checked="searchObj.mealSelected.indexOf('d') > -1" type="checkbox" value="d">Dinner</label>

                    </div>

                    <div class="checkbox">

                        <label><input name="meal[]  " id="lunch" ng-click="toggleSelection('l')" ng-checked="searchObj.mealSelected.indexOf('l') > -1" type="checkbox" value="l">Lunch</label>
                    </div>

                </form>

                <h3>Preference </h3>

                <form role="form">

                    <div class="checkbox">

                        <label class="veg"><input name="pref[]" id="veg" type="checkbox" ng-click="togglePrefSelection('v')" ng-checked="searchObj.prefSelected.indexOf('v') > -1" value="v">Veg<img src="images/vegetarian.png" class="Img Not Found"/></label>

                    </div>

                    <div class="checkbox">

                        <label class="veg"><input name="pref[]" ng-click="togglePrefSelection('n')" ng-checked="searchObj.prefSelected.indexOf('n') > -1" type="checkbox" value="n">Non Veg<img src="images/nonvegtarian.png" class="Img Not Found"/></label>

                    </div>

                </form>

                <h3>Other Filters</h3>

                <form role="form">

                    <div class="checkbox">

                        <label><input type="checkbox" ng-click="toggleHomeDelivery(searchObj.homeDeliveryAvail)" ng-model="searchObj.homeDeliveryAvail">Home Delivery Available</label>

                    </div>

                    <div class="checkbox">

                        <label><input type="checkbox" ng-click="toggleTakesPartyOrder(searchObj.takesPartyOrder)" ng-model="searchObj.takesPartyOrder">Takes Party Order</label>

                    </div>

                    <div class="checkbox">

                        <label><input type="checkbox" ng-click="toggleCustomizeTiffin(searchObj.customizeTiffin)" ng-model="searchObj.customizeTiffin">Can Customize Menu</label>

                    </div>

                    <div class="checkbox">

                        <label><input type="checkbox" ng-click="toggleAdvancePayment(searchObj.advancePayment)" ng-model="searchObj.advancePayment">Payment in Advance</label>

                    </div>

                </form>

                <h3>Price</h3>

                <div class="example">

                    <div range-slider min="0" max="500" on-handle-up="setModelVal()" model-min="min" model-max="max" ></div>

                </div>

                <div class="slider">

                    <input id="input-select" value="Rs. {{min}}" class="pull-left">

                    <input  id="input-number" value="Rs. {{max}}" class="pull-right">

                </div>

                <div class="clearfix"></div>

                <h3>Time</h3>

                <div class="datepicker dataquery">

                    <div class="row">

                        <div class="col-md-3 col-sm-3 col-xs-3">

                            <select id="from" ng-model="fromTime">

                                <option value="01:00">01:00</option>

                                <option value="02:00">02:00</option>

                                <option value="03:00">03:00</option>

                                <option value="04:00">04:00</option>

                                <option value="05:00">05:00</option>

                                <option value="06:00">06:00</option>

                                <option value="07:00">07:00</option>

                                <option value="08:00">08:00</option>

                                <option value="09:00">09:00</option>

                                <option value="10:00">10:00</option>

                                <option value="11:00">11:00</option>

                                <option value="12:00">12:00</option>

                            </select>

                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3 paddingright">

                            <select id="timezone" ng-model="fromTimeZone">

                                <option value="AM">AM</option>

                                <option value="PM">PM</option>

                            </select>

                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">

                            <select id="to" ng-model="toTime">

                                <option value="01:00">01:00</option>

                                <option value="02:00">02:00</option>

                                <option value="03:00">03:00</option>

                                <option value="04:00">04:00</option>

                                <option value="05:00">05:00</option>

                                <option value="06:00">06:00</option>

                                <option value="07:00">07:00</option>

                                <option value="08:00">08:00</option>

                                <option value="09:00">09:00</option>

                                <option value="10:00">10:00</option>

                                <option value="11:00">11:00</option>

                                <option value="12:00">12:00</option>

                            </select>

                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-3">

                            <select id="timezone" ng-model="toTimeZone">

                                <option value="AM">AM</option>

                                <option value="PM">PM</option>

                            </select>

                        </div>

                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-4">
                            <button ng-click="appendTimeFilter()" class="btn btn-default">OK</button>
                        </div>
                    </div>

                </div>

                <!--                <div class="datepicker1 dataquery">
                
                                    <div class="row">
                
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                
                                            <div class="row">
                
                                                <div class="col-md-5 col-sm-5 col-xs-5"> <label class="from_label">From</label> 
                
                                                </div>
                
                                            </div>
                
                                            <div class="row row1">
                
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                
                
                
                                                    <select id="from" ng-model="fromTime">
                
                                                        <option value="1">01:00</option>
                
                                                        <option value="2">02:00</option>
                
                                                        <option value="3">03:00</option>
                
                                                        <option value="4">04:00</option>
                
                                                        <option value="5">05:00</option>
                
                                                        <option value="6">06:00</option>
                
                                                        <option value="7">07:00</option>
                
                                                        <option value="8">08:00</option>
                
                                                        <option value="9">09:00</option>
                
                                                        <option value="10">10:00</option>
                
                                                        <option value="11">11:00</option>
                
                                                        <option value="12" selected>12:00</option>
                
                                                    </select>
                
                                                </div>
                
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                
                
                
                                                    <select id="timezone">
                
                                                        <option value="">AM</option>
                
                                                        <option value="">PM</option>
                
                                                    </select>
                
                                                </div>
                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                
                                            <div class="row">
                
                                                <div class="col-md-5 col-sm-5 col-xs-5"><label class="to_label">To</label> 
                
                                                </div>
                
                                            </div>
                
                                            <div class="row row1">
                
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                
                
                
                                                    <select id="to" ng-model="toTime">
                                                        <option value="1">01:00</option>
                
                                                        <option value="2">02:00</option>
                
                                                        <option value="3">03:00</option>
                
                                                        <option value="4">04:00</option>
                
                                                        <option value="5">05:00</option>
                
                                                        <option value="6">06:00</option>
                
                                                        <option value="7">07:00</option>
                
                                                        <option value="8">08:00</option>
                
                                                        <option value="9">09:00</option>
                
                                                        <option value="10">10:00</option>
                
                                                        <option value="11">11:00</option>
                
                                                        <option value="12" selected>12:00</option>
                                                    </select>
                
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6">
                                                    <select id="timezone">
                                                        <option value="">AM</option>
                                                        <option value="">PM</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
            </div>

            <div class="col-md-9 col-sm-9 col-xs-12 location">
                <div class="alert alert-success" ng-show="showSuccessAlert">
                    <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
                    <strong>Done!</strong> {{successTextAlert}}
                </div>
                <ul class="sort" ng-if="!!resultEntitys.length">

                    <li class="sort_by">SORT BY : </li>

                    <li><a href ng-class="{'sortby': sortType === 'relevance'}" ng-click="sortBySP('relevance')">Most Relevant</a>
                    </li>
                    <li><a href ng-class="{'sortby': sortType === 'price'}" ng-click="sortBySP('price')">Price
                            <span ng-show="sortType !== 'price'" class="fa fa-sort"></span>
                            <span ng-show="sortType === 'price' && !sortReverse" class="fa fa-sort-up"></span>
                            <span ng-show="sortType === 'price' && sortReverse" class="fa fa-sort-down"></span>
                        </a>
                    </li>
                    <li>
                        <a href ng-class="{'sortby': sortType === 'rating'}" ng-click="sortBySP('rating')">Rating
                            <span ng-show="sortType !== 'rating'" class="fa fa-sort"></span>
                            <span ng-show="sortType === 'rating' && !sortReverse" class="fa fa-sort-up"></span>
                            <span ng-show="sortType === 'rating' && sortReverse" class="fa fa-sort-down"></span>
                        </a>
                    </li>
                    <li>
                        <a href ng-class="{'sortby': sortType === 'fav'}" ng-click="sortBySP('fav')">Fav count
                            <span ng-show="sortType !== 'fav'" class="fa fa-sort"></span>
                            <span ng-show="sortType === 'fav' && !sortReverse" class="fa fa-sort-up"></span>
                            <span ng-show="sortType === 'fav' && sortReverse" class="fa fa-sort-down"></span>
                        </a>
                    </li>
                </ul>

                <div class="clearfix"></div>

                <!-- ng-repeat for SP start -->
                <div class="location_block" ng-repeat="entity in resultEntitys">

                    <div class="location_name_strip">

                        <span class="location_name">{{entity.entity.name}}</span>

                        <div class="pull-right" ng-if="entity.entity.ratingCount > 0">

                            <p ng-class="{'rating_ok':entity.entity.avgRating < 3, 
                                        'rating_good':(entity.entity.avgRating >= 3 && entity.entity.avgRating < 4), 
                                        'rating_better':entity.entity.avgRating >= 4 }">{{entity.entity.avgRating}}</p>

                            <span class="location_vote_count">{{entity.entity.ratingCount}} vote</span>

                        </div>

                        <div class="pull-right" ng-if="entity.entity.ratingCount === 0">
                            Be the first one to rate !<br/>
                            <fieldset class="rating">

                                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5"></label>

                                <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half"></label>

                                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>

                                <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half"></label>

                                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" ></label>

                                <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" ></label>

                                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2"></label>

                                <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half"></label>

                                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1"></label>

                                <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"></label>

                            </fieldset>

                        </div>

                    </div>

                    <p ng-if="!!entity.entity.tagLine">{{entity.entity.tagLine}}</p>

                    <p><font class="label1">Services area : </font>{{entity.entity.area}}</p>

                    <p><font class="label1">Price : </font>{{entity.entity.minPrice}}-{{entity.entity.maxPrice}}rs</p>

                    <p><font class="label1">Meal : </font>
                        <span ng-if="entity.entity.brkfstAvail">Breakfast </span>
                        <span ng-if="entity.entity.lunchAvail">Lunch </span>
                        <span ng-if="entity.entity.dinnerAvail">Dinner </span>
                    </p>

                    <p><font class="label1"><span class="fa fa-phone"></span> </font>{{entity.entity.phone1}}
                        <span ng-if="!!entity.entity.phone2"> , {{entity.entity.phone2}}</span>
                    </p>

                    <p class="veg">
                        <label ng-if="entity.entity.vegAvail"><img src="images/vegetarian.png" alt="Img Not Found"/>Veg</label>
                        <label ng-if="entity.entity.nonvegAvail"><img src="images/nonvegtarian.png" alt="Img Not Found"/>Non Veg</label>
                    </p>

                    <div class="like_bar">

                        <ul class="menu_like">

                            <li><a title="mark as unreachable" href ng-click="unreachable(entity)"><img src="images/image1.png" class="img-responsive" alt="img not found"></a></li>

                            <li><a title="send detail" href  ng-click="mailContact(entity)"><img src="images/image2.png" class="img-responsive" alt="img not found"></a></li>

                            <li><a href="#"><img src="images/image3.png" class="img-responsive" alt="img not found"></a></li>

                        </ul>

                        <ul class="pull-right" style="margin-top:-2px;">

                            <li><a href="#"><img src="images/facebook_like.png" class="img-responsive" alt="img not found"></a></li>

                            <li><a href="#"><img src="images/twitter_like.png" class="img-responsive" alt="img not found"></a></li>

                        </ul>

                    </div>

                </div>
                <ul class="pagination" ng-show="resultEntitys !== undefined && resultEntitys !== null && resultEntitys.length > 1 && arr !== null && arr !== undefined">
                    <li ng-class="{'disabled':currentPage === 1}">
                        <a href ng-click="prevPage()">« Prev</a>
                    </li>
                    <li ng-repeat="n in arr track by $index" ng-class="{active: $index + 1 === currentPage}" ng-click="setPage($index + 1)">
                        <a>{{$index + 1}}</a>
                    </li>
                    <li ng-class="{'disabled':currentPage === arr.length}">
                        <a href ng-click="nextPage()">Next »</a>
                    </li>
                </ul>
                <div ng-if="resultEntitys.length === 0" class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        For now, there is no tiffin service available for your query. 
                        Please give us your email address, So that we can contact you once it becomes available.
                    </div>
                    <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-12"><input type="email" class="form-control " ng-model="emailId" ng-required='resultEntitys.length===0' placeholder="Email address" /></div>
                    <div class="col-md-2 col-sm-3 col-xs-12"><button type="button" ng-click="storeQuery(emailId)" class="btn btn-success">Ok</button></div>
                </div>
                <!-- ng-repeat for SP ends -->
            </div>
        </div>
    </div>
</section>
