<div id="login-box">
    <div class="panel panel-primary col-md-6 col-sm-offset-3">
        <div class="panel-heading">
            <h3 class="panel-title text-center" id="panel-title">Sign in to Tiffinwala</h3>
        </div>
        <div class="panel-body">
            <form role="form" name="loginForm" id="login-form" novalidate>
                <div class='form-group'>
                    <div ng-if="login.isError">
                        <div ng-show="login.isError" class="error">
                            <span class="red">{{login.errorMessage}}</span>
                        </div>
                    </div>
                </div>
                <div class="input-group margin-top-15">
                    <span class="input-group-addon" id="basic-addon1"><span class="fui-mail"></span></span>
                    <input autofocus id="emailid" name="emailid" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="login.userObject.emailId" required>

                </div>
                <div ng-show="loginForm.emailid.$invalid && (login.loginSubmitted)" class="error">
                    <span class="red">Enter username</span>
                </div>
                <div class="input-group margin-top-15">
                    <span class="input-group-addon" id="basic-addon1"><span class="fui-lock"></span></span>
                    <input type="password"  name="password" id="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" ng-model="login.userObject.password" required>

                </div>
                <div ng-show="loginForm.password.$invalid && (login.loginSubmitted)" class="error">
                    <span class="red">Enter password</span>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class="col-xs-8">
                </div>
                <div class="col-xs-4 padding-r-0">
                    <button href="" class="btn btn-block btn-lg btn-default" id="btnLoginForm" ng-click="login.doLogin(login.userObject, loginForm)">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
