<section id="location_bg" ng-cloak>
    <div class="container">
        <div class="row header">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="#/" class="logo_wrapper"><img src="images/Logo.png" class="img-responsive logo"/></a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" >
                <ul class="header_menu navbar-right" ng-if="isLogin">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Welcome<b> {{currentUser.firstName}}</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-left">
                            <li ng-click="openMyProfile()">
                                <a >My Profile</a>                        
                            </li>
                            <li ng-click="openChangePwd()">
                                <a>Change password</a>                        
                            </li>
                            <li ng-click="openUpdateMenu()" ng-if="currentUser.role === 'ROLE_SERVICEPROVIDER'">
                                <a>Update Menu</a>                        
                            </li>
                            <li ng-click="logout()">
                                <a >Logout</a>                        
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="header_menu navbar-right" ng-if="!isLogin">
                    <li>
                        <a class="btn btn-link" style="color: white" data-toggle="modal" data-target="#myModal">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--        <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 slogan text-center">
                        <p>Lorem ipsum dolor sit amet,</p>
                        <p class="slogan2">consectetur adipiscing elit.</p>
                    </div>
                </div>-->
        <form class="form-horizontal" name="searchForm" role="form">
            <div class="row search_bar">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="search_area">
                        <span class="map"><i class="fa fa-map-marker" style="position: absolute"></i></span>
                        <input type="text" style="margin-left: 3px; cursor: text" class="discover-search" g-places-autocomplete required placeholder="Choose place" ng-model="$root.chosenPlace"/>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="search_area">
                        <span><i class="fa fa-search" style="position:absolute;"></i></span>
                        <input text="input" style="margin-left: 20px; cursor: text" class="discover-search" placeholder="Search for restaurant, cuisine or a dish" ng-model="$root.searchquery" value=""/>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <button class="search_button" ng-click="$root.search(searchForm)">Search</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section id="location_details">
    <div class="container">
        <div>
            <form id="menuForm" name="menuForm" class="form-horizontal" novalidate>
                <legend>Menu</legend>
                <div class="alert alert-success" ng-show="showSuccessAlert">
                    <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
                    <strong>Done!</strong> {{successTextAlert}}
                </div>
                <div ng-if="menuStarted === undefined || menuStarted === null || menuStarted === false" class=" row col-md-4">
                    <div class="form-group" ng-class="{ 'has-error': (menuForm.meal.$touched || submitted === true) && menuForm.meal.$invalid }">
                        <label class="control-label" for="meal">Meal</label>
                        <select name="meal" id="meal" class="input-xlarge form-control" ng-model="menu.meal" required>
                            <option value="">--Select--</option>
                            <option value="B">Breakfast</option>
                            <option value="L">Lunch</option>
                            <option value="D">Dinner</option>
                        </select>
                        <div class="help-block" ng-messages="menuForm.meal.$error" ng-show="menuForm.meal.$touched || submitted === true">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': (menuForm.preference.$touched || submitted === true) && menuForm.preference.$invalid }">
                        <label class="control-label" for="preference">Preference</label>
                        <select name="preference" id="preference" class="input-xlarge form-control" ng-model="menu.preference" required>
                            <option value="">--Select--</option>
                            <option value="V">Veg</option>
                            <option value="N">Non Veg</option>
                        </select>
                        <div class="help-block" ng-messages="menuForm.preference.$error" ng-show="menuForm.preference.$touched || submitted === true">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"></label>
                        <button type="button" class="btn btn-success" ng-click="startMenu()">Start menu</button>
                    </div>
                </div>
                <div ng-if="menuStarted === true">
                    <div class="row">
                        <div class="col-md-4 form-group" ng-class="{ 'has-error': (menuForm.itemoption.$touched || submitted === true) && menuForm.itemoption.$invalid }">
                            <label class="control-label" for="searchtext">Item Option</label>
                            <input class="form-control" id="searchtext" type="text" ng-model="menu.name" ng-change="searchItemOption()" placeholder="Add Item Option"/>
                            <div class="list-group-item"  ng-repeat="item in itemOptionList" ng-click="addOrRemoveItemOption(item)">
                                <div class="row clickable">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <span class="fa" ng-class="{ 'fa-check-circle': selectedItems.indexOf(item.id) !== - 1, 'fa-circle-o': selectedItems.indexOf(item.id) === - 1 }"></span>
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-xs-10">
                                        <span ng-bind="item.name"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group col-md-2">
                        <label class="control-label"></label>
                        <button type="button" class="btn btn-info" ng-click="verify()">Verify menu</button>
                    </div>
                    <div class="control-group col-md-2">
                        <label class="control-label"></label>
                        <button type="button" class="btn btn-success" ng-click="confirm()">Confirm menu</button>
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-4">
                            <table class="table table-bordered" ng-if="!!verifyData.menuItemDtos">
                                <thead>
                                    <tr>
                                        <th>Index</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="menuItem in verifyData.menuItemDtos">
                                        <td>{{$index + 1}}</th>
                                        <td>{{menuItem.itemOptionName}}</th>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered" ng-if="verifyData.menuItemDtos === null || verifyData.menuItemDtos === undefined || verifyData.menuItemDtos.length === 0">
                                <tr>
                                    <td style="text-align: center">No Items available</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>