<section id="location_bg" ng-cloak>
    <div class="container">
        <div class="row header">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="#/" class="logo_wrapper"><img src="images/Logo.png" class="img-responsive logo"/></a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" >
                <ul class="header_menu navbar-right" ng-if="isLogin">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Welcome<b> {{currentUser.firstName}}</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-left">
                            <li ng-click="openMyProfile()">
                                <a >My Profile</a>                        
                            </li>
                            <li ng-click="openChangePwd()">
                                <a>Change password</a>                        
                            </li>
                            <li ng-click="openUpdateMenu()" ng-if="currentUser.role === 'ROLE_SERVICEPROVIDER'">
                                <a>Update Menu</a>                        
                            </li>
                            <li ng-click="logout()">
                                <a >Logout</a>                        
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="header_menu navbar-right" ng-if="!isLogin">
                    <li>
                        <a class="btn btn-link" style="color: white" data-toggle="modal" data-target="#myModal">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <form class="form-horizontal" name="searchForm" role="form">
            <div class="row search_bar">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="search_area">
                        <span class="map"><i class="fa fa-map-marker" style="position: absolute"></i></span>
                        <input type="text" style="margin-left: 3px; cursor: text" class="discover-search" g-places-autocomplete required placeholder="Choose place" ng-model="$root.chosenPlace"/>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="search_area">
                        <span><i class="fa fa-search" style="position:absolute;"></i></span>
                        <input text="input" style="margin-left: 20px; cursor: text" class="discover-search" placeholder="Search for restaurant, cuisine or a dish" ng-model="$root.searchquery" value=""/>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <button class="search_button" ng-click="$root.search(searchForm)">Search</button>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="container">
    <div>
        <form id="profileForm" name="profileForm" class="form-horizontal" novalidate>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-xs-7 col-sm-8">
                    <legend>Edit Profile</legend>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-xs-7 col-sm-8">
                    <div class="form-group" ng-class="{
                            'has-error'
                            : (profileForm.fname.$touched || submitted === true) && profileForm.fname.$invalid }">
                        <label class="control-label" for="fname">First Name</label>
                        <input type="text" class="input-xlarge form-control" id="fname" name="fname" ng-model="user.firstName" placeholder="First Name" required>
                        <div class="help-block" ng-messages="profileForm.fname.$error" ng-show="profileForm.fname.$touched || submitted === true">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label" for="lname">Last Name</label>
                        <input type="text" class="input-xlarge form-control" id="lname" name="lname" ng-model="user.lastName" placeholder="Last Name">
                    </div>
                    <div class="form-group " ng-class="{
                            'has-error'
                            : (profileForm.phone.$touched || submitted === true) && profileForm.phone.$invalid }">
                        <label class="control-label" for="phone">Phone</label>
                        <input type="number" class="input-xlarge form-control" ng-minlength="10" ng-maxlength="10"  id="phone" name="phone" placeholder="Phone" ng-model="user.phone" ng-required="true">
                        <div class="help-block" ng-messages="profileForm.phone.$error" ng-show="profileForm.phone.$touched || submitted === true">
                            <div ng-message="required">This field is required</div>
                            <div ng-message="number">Valid phone number is required</div>
                            <div ng-message="maxlength || minlength">phone number should be 10 digits</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{
                            'has-error'
                            : (profileForm.email.$touched || submitted === true) && profileForm.email.$invalid }">
                        <label class="control-label" for="email">Email</label>
                        <input type="email" class="input-xlarge form-control" id="email" name="email" ng-model="user.email" placeholder="Email" required>
                        <div class="help-block" ng-messages="profileForm.email.$error" ng-show="profileForm.email.$touched || submitted === true">
                            <div ng-message="required">This field is required</div>
                            <div ng-message="email">Enter valid email</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"></label>
                        <button type="button" class="btn btn-success" ng-click="updateProfile()">Save</button>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4 col-sm-4">
                    <div style="        width: 500px;        height: 500px;">
                        <a style="display: inline-block;max-width: 47%;height: 47%"  href ngf-select="upload($file)"><img style="width: 100%;height: 100%" ng-src="{{$root.apiPath}}/users/downloadprofilepicture?filename={{$root.currentUser.profilePicture}}"/></a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>