<style type="text/css">
    .g-item{
        width: 500px;
        height: 500px;
    }
</style>
<div class="container">
    <div>
        <form id="signupForm" name="signupForm" class="form-horizontal" novalidate>
            <legend>Sign Up</legend>
            <div class=" row col-md-4">
                <div class="form-group" ng-class="{ 'has-error': (signupForm.fname.$touched || submitted === true) && signupForm.fname.$invalid }">
                    <label class="control-label" for="fname">First Name</label>
                    <input type="text" class="input-xlarge form-control" id="fname" name="fname" ng-model="user.firstName" placeholder="First Name" required>
                    <div class="help-block" ng-messages="signupForm.fname.$error" ng-show="signupForm.fname.$touched || submitted === true">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label" for="lname">Last Name</label>
                    <input type="text" class="input-xlarge form-control" id="lname" name="lname" ng-model="user.lastName" placeholder="Last Name">
                </div>
                <div class="form-group " ng-class="{ 'has-error': (signupForm.uname.$touched || submitted === true) && signupForm.uname.$invalid }">
                    <label class="control-label" for="uname">User Name</label>
                    <input type="text" class="input-xlarge form-control" id="uname" name="uname" ng-model="user.userName" ng-blur="checkUsernameAvailability()" placeholder="User Name" required>
                    <div class="help-block" ng-messages="signupForm.uname.$error" ng-show="signupForm.uname.$touched || submitted === true">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="unique">Username is already taken</div>
                    </div>
                </div>
                <div class="form-group " ng-class="{ 'has-error': (signupForm.phone.$touched || submitted === true) && signupForm.phone.$invalid }">
                    <label class="control-label" for="phone">Phone</label>
                    <input type="number" class="input-xlarge form-control" ng-minlength="10" ng-maxlength="10"  id="phone" name="phone" placeholder="Phone" ng-model="user.phone" ng-required="true">
                    <div class="help-block" ng-messages="signupForm.phone.$error" ng-show="signupForm.phone.$touched || submitted === true">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="number">Valid phone number is required</div>
                        <div ng-message="maxlength || minlength">phone number should be 10 digits</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (signupForm.email.$touched || submitted === true) && signupForm.email.$invalid }">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="input-xlarge form-control" id="email" name="email" ng-model="user.email" placeholder="Email" required>
                    <div class="help-block" ng-messages="signupForm.email.$error" ng-show="signupForm.email.$touched || submitted === true">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="email">Enter valid email</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (signupForm.passwd.$touched || submitted === true) && signupForm.passwd.$invalid }">
                    <label class="control-label" for="passwd">Password</label>
                    <input type="Password" id="passwd" class="input-xlarge form-control" name="passwd" ng-model="user.password" placeholder="Password" required>
                    <div class="help-block" ng-messages="signupForm.passwd.$error" ng-show="signupForm.passwd.$touched || submitted === true">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (signupForm.conpasswd.$touched || submitted === true) && signupForm.conpasswd.$invalid }">
                    <label class="control-label" for="conpasswd">Confirm Password</label>
                    <input type="Password" id="conpasswd" class="input-xlarge form-control" name="conpasswd" ng-model="user.repassword" placeholder="Re-enter Password" compare-to="user.password" required>
                    <div class="help-block" ng-messages="signupForm.conpasswd.$error" ng-show="signupForm.conpasswd.$touched || submitted === true">
                        <div ng-message="required">This field is required</div>
                        <div ng-message="compareTo">This field should match with password</div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': (signupForm.city.$touched || submitted === true) && signupForm.city.$invalid }">
                    <label class="control-label" for="city">City</label>
                        <select name="city" id="city" class="input-xlarge form-control" ng-model="user.cityCode" required ng-options="item.code as item.name for item in cities">
                        <option value="">--Select--</option>
                    </select>
                    <div class="help-block" ng-messages="signupForm.city.$error" ng-show="signupForm.city.$touched || submitted === true">
                        <div ng-message="required">This field is required</div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"></label>
                    <button type="button" class="btn btn-success" ng-click="createAccount()">Create My Account</button>
                </div>
            </div>
        </form>
    </div>
</div>