<style type="text/css">
    .g-item{
        width: 500px;
        height: 500px;
    }
</style>
<section id="location_bg" ng-cloak>
    <div class="container">
        <div class="row header">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <a href="#/" class="logo_wrapper"><img src="images/Logo.png" class="img-responsive logo"/></a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" >
                <ul class="header_menu navbar-right" ng-if="isLogin">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Welcome<b> {{currentUser.firstName}}</b> <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-left">
                            <li ng-click="openMyProfile()">
                                <a >My Profile</a>                        
                            </li>
                            <li ng-click="openChangePwd()">
                                <a>Change password</a>                        
                            </li>
                            <li ng-click="openUpdateMenu()" ng-if="currentUser.role === 'ROLE_SERVICEPROVIDER'">
                                <a>Update Menu</a>                        
                            </li>
                            <li ng-click="logout()">
                                <a >Logout</a>                        
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="header_menu navbar-right" ng-if="!isLogin">
                    <li>
                        <a class="btn btn-link" style="color: white" data-toggle="modal" data-target="#myModal">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <form class="form-horizontal" name="searchForm" role="form">
            <div class="row search_bar">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="search_area">
                        <span class="map"><i class="fa fa-map-marker" style="position: absolute"></i></span>
                        <input type="text" style="margin-left: 3px; cursor: text" class="discover-search" g-places-autocomplete required placeholder="Choose place" ng-model="$root.chosenPlace"/>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="search_area">
                        <span><i class="fa fa-search" style="position:absolute;"></i></span>
                        <input text="input" style="margin-left: 20px; cursor: text" class="discover-search" placeholder="Search for restaurant, cuisine or a dish" ng-model="$root.searchquery" value=""/>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <button class="search_button" ng-click="$root.search(searchForm)">Search</button>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="container">
    <div>
        <form id="userRegForm" name="userRegForm" class="form-horizontal" novalidate>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-8 col-xs-12">
                    <legend>User Registration</legend>
                    <div class="alert alert-success" ng-show="showSuccessAlert">
                        <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
                        <strong>Done!</strong> {{successTextAlert}}
                    </div>
                    <div class="alert alert-danger" ng-show="showDangerAlert">
                        <button type="button" class="close" data-ng-click="switchBool('showDangerAlert')" >×</button>
                        <strong>Error!</strong> {{dangerTextAlert}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-8 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error': (userRegForm.utype.$touched || submitted === true) && userRegForm.utype.$invalid }">
                        <label><input type="radio" ng-model="user.utype" value="user" name="utype"/> User </label>
                        <label><input type="radio" ng-model="user.utype" value="sp" name="utype"/> Tiffin Provider </label>
                        <div class="help-block" ng-messages="userRegForm.utype.$error" ng-show="userRegForm.utype.$touched || submitted === true">
                            <div ng-message="required">This field is required</div>
                        </div>
                    </div>
                    <div ng-if="user.utype === 'user'">
                        <div class="form-group" ng-class="{ 'has-error': (userRegForm.fname.$touched || submitted === true) && userRegForm.fname.$invalid }">
                            <label class="control-label" for="fname">First Name</label>
                            <input type="text" class="input-xlarge form-control" id="fname" name="fname" ng-model="user.firstName" placeholder="First Name" required>
                            <div class="help-block" ng-messages="userRegForm.fname.$error" ng-show="userRegForm.fname.$touched || submitted === true">
                                <div ng-message="required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="lname">Last Name</label>
                            <input type="text" class="input-xlarge form-control" id="lname" name="lname" ng-model="user.lastName" placeholder="Last Name">
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': (userRegForm.userName.$touched || submitted === true) && userRegForm.userName.$invalid }">
                            <label class="control-label" for="userName">User Name</label>
                            <input type="text" class="input-xlarge form-control" id="userName" name="userName" ng-model="user.userName" placeholder="User Name" required>
                            <div class="help-block" ng-messages="userRegForm.userName.$error" ng-show="userRegForm.userName.$touched || submitted === true">
                                <div ng-message="required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': (userRegForm.password.$touched || submitted === true) && userRegForm.password.$invalid }">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" class="input-xlarge form-control" id="password" name="password" ng-model="user.password" placeholder="Password" required>
                            <div class="help-block" ng-messages="userRegForm.password.$error" ng-show="userRegForm.password.$touched || submitted === true">
                                <div ng-message="required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group " ng-class="{ 'has-error': (userRegForm.phone.$touched || submitted === true) && userRegForm.phone.$invalid }">
                            <label class="control-label" for="phone">Phone</label>
                            <input type="number" class="input-xlarge form-control" ng-minlength="10" ng-maxlength="10"  id="phone" name="phone" placeholder="Phone" ng-model="user.phone" ng-required="true">
                            <div class="help-block" ng-messages="userRegForm.phone.$error" ng-show="userRegForm.phone.$touched || submitted === true">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="number">Valid phone number is required</div>
                                <div ng-message="maxlength || minlength">phone number should be 10 digits</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': (userRegForm.email.$touched || submitted === true) && userRegForm.email.$invalid }">
                            <label class="control-label" for="email">Email</label>
                            <input type="email" class="input-xlarge form-control" id="email" name="email" ng-model="user.email" placeholder="Email" required>
                            <div class="help-block" ng-messages="userRegForm.email.$error" ng-show="userRegForm.email.$touched || submitted === true">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="email">Enter valid email</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success pull-right" ng-click="saveUser()">Submit</button>
                        </div>
                    </div>
                    <div ng-if="user.utype === 'sp'">
                        <div class="form-group" ng-class="{ 'has-error': (userRegForm.spname.$touched || submitted === true) && userRegForm.spname.$invalid }">
                            <label class="control-label" for="spname">Name</label>
                            <input type="text" class="input-xlarge form-control" id="spname" name="spname" ng-model="user.spName" placeholder="Name" required>
                            <div class="help-block" ng-messages="userRegForm.spname.$error" ng-show="userRegForm.spname.$touched || submitted === true">
                                <div ng-message="required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group " ng-class="{ 'has-error': (userRegForm.mobileNumber.$touched || submitted === true) && userRegForm.mobileNumber.$invalid }">
                            <label class="control-label" for="mobileNumber">Mobile number</label>
                            <input type="number" class="input-xlarge form-control" ng-minlength="10" ng-maxlength="10"  id="mobileNumber" name="mobileNumber" placeholder="Mobile number" ng-model="user.mobileNumber" ng-required="true">
                            <div class="help-block" ng-messages="userRegForm.mobileNumber.$error" ng-show="userRegForm.mobileNumber.$touched || submitted === true">
                                <div ng-message="required">This field is required</div>
                                <div ng-message="number">Valid mobile number number is required</div>
                                <div ng-message="maxlength || minlength">Mobile number number should be 10 digits</div>
                            </div>
                        </div>
                        <div class="form-group " ng-class="{ 'has-error': (userRegForm.address.$touched || submitted === true) && userRegForm.address.$invalid }">
                            <label class="control-label" for="address">Address</label>
                            <textarea class="input-xlarge form-control" placeholder="Address" id="address" name="address" ng-model="user.address" rows="5" cols="10"></textarea>
                            <div class="help-block" ng-messages="userRegForm.address.$error" ng-show="userRegForm.address.$touched || submitted === true">
                                <div ng-message="required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success pull-right" ng-click="saveSP()">Submit</button>
                        </div>
                    </div>
                </div>
                <!--                <div class="col-md-4" ng-if="user.utype === 'user'">
                                    <div class="g-item">
                                        <a style="display: inline-block;max-width: 47%;height: 47%"  href ngf-select="upload($file)"><img style="width: 100%;height: 100%" ng-src="{{$root.apiPath}}/insecured/downloadprofilepicture?filename={{user.profilePicturePath}}"/></a>
                                    </div>
                                </div>-->
            </div>
        </form>
    </div>
</div>